.register-btn{

    background-color: #010101;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid #010101;
    margin-right: 20px;
    margin-top: 30px;

}

.register-btn:hover{
    background-color: #fff;
    color: #010101;
    border: 1px solid #010101
}